{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    CSV Summarizer
{% endblock title %}


{% block content %}
{% include 'components/navbar.html' %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">CSVSummarizer</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock content %}
    
    